{
  "GANACHE_URL": "http://localhost:8545/",

  "MAINNET_URL": "",
  "MAINNET_WSS_URL": "",

  "GOERLI_URL": "",
  "GOERLI_WSS_URL": "",

  "POLYGON_MAINNET_URL": "",
  "POLYGON_MAINNET_WSS_URL": "",

  "ARBITRUM_MAINNET_URL": "",
  "ARBITRUM_MAINNET_WSS_URL": "",

  "OPTIMISM_MAINNET_URL": "",
  "OPTIMISM_MAINNET_WSS_URL": "",

  "PRIVATE_WALLET_MNEMONIC": ""
}
